# Camada Gold - Delivery Delay & Customer Satisfaction

> **POC:** E-commerce Delivery Analytics  
> **Objetivo:** Diagn√≥stico de atraso log√≠stico e impacto na satisfa√ß√£o do cliente  

Este notebook documenta a constru√ß√£o da **camada Gold** utilizada na POC de **Analytics Diagn√≥stico**, a partir da base de dados previamente curada.

O foco desta etapa √© consolidar, em n√≠vel de pedido, informa√ß√µes operacionais, financeiras e de experi√™ncia do cliente em um dataset √∫nico, estruturado para suportar an√°lises causais e diagn√≥sticas sobre o impacto do atraso log√≠stico na satisfa√ß√£o do consumidor.

---

## Contexto

Os dados utilizados neste notebook s√£o derivados diretamente da camada de **curadoria (Silver)**, constru√≠da no notebook [`01_curadoria_sql.ipynb`](notebooks/01_curadoria_sql.ipynb).

Toda a l√≥gica de ingest√£o, padroniza√ß√£o, valida√ß√£o e agrega√ß√µes intermedi√°rias j√° foi realizada anteriormente.  
Neste notebook, **n√£o h√° tratamento de dados brutos** ‚Äî apenas consolida√ß√£o anal√≠tica orientada √† gera√ß√£o de insights.

O dataset original tem como base o **Olist E-commerce Dataset**, amplamente utilizado em estudos de analytics e ci√™ncia de dados, previamente organizado em camadas Bronze e Silver no DuckDB.

---

## Objetivo da Camada Gold

A camada Gold desta POC foi projetada para:

- Integrar dados log√≠sticos, financeiros e de satisfa√ß√£o do cliente
- Criar m√©tricas derivadas e *flags anal√≠ticas* prontas para explora√ß√£o
- Permitir an√°lises causais entre atraso na entrega e avalia√ß√£o do cliente
- Servir como base √∫nica para a etapa de **An√°lise Explorat√≥ria Guiada (EDA)** e relat√≥rio executivo

O resultado final desta etapa √© a view **`gold_delay_satisfaction`**, com granularidade de **1 linha por pedido**, adequada para an√°lises anal√≠ticas e diagn√≥sticas.

## Conex√£o e Verifica√ß√£o Inicial

Nesta se√ß√£o s√£o realizadas a importa√ß√£o das bibliotecas necess√°rias, a conex√£o com o banco de dados DuckDB e uma verifica√ß√£o inicial das tabelas e views dispon√≠veis no ambiente anal√≠tico.

In [1]:
import sys; sys.path.insert(0, "..")
from src.paths import PROCESSED_DATA
import duckdb

In [2]:
con = duckdb.connect(database=str(PROCESSED_DATA), read_only=False)
con.execute("SELECT 1").fetchone()

(1,)

In [3]:
# listar tabelas e views
con.execute("""
SELECT table_schema, table_name, table_type
FROM information_schema.tables
WHERE table_schema NOT IN ('information_schema', 'pg_catalog')
ORDER BY table_type, table_schema, table_name;
""").df()

   table_schema                    table_name  table_type
0          main          category_translation  BASE TABLE
1          main                     customers  BASE TABLE
2          main                   geolocation  BASE TABLE
3          main                   order_items  BASE TABLE
4          main                order_payments  BASE TABLE
5          main                 order_reviews  BASE TABLE
6          main                        orders  BASE TABLE
7          main                      products  BASE TABLE
8          main                       sellers  BASE TABLE
9          main  curated_category_translation        VIEW
10         main             curated_customers        VIEW
11         main           curated_geolocation        VIEW
12         main    curated_geolocation_by_zip        VIEW
13         main        curated_items_by_order        VIEW
14         main           curated_order_items        VIEW
15         main        curated_order_payments        VIEW
16         main         curated_order_reviews        VIEW
17         main                curated_orders        VIEW
18         main     curated_payments_by_order        VIEW
19         main              curated_products        VIEW
20         main      curated_reviews_by_order        VIEW
21         main               curated_sellers        VIEW

In [4]:
con.execute("""
SELECT
  (SELECT COUNT(*) FROM curated_orders) AS total_orders,
  (SELECT COUNT(*) FROM curated_reviews_by_order) AS orders_with_reviews
""").df()

   total_orders  orders_with_reviews
0         99441                98673

In [5]:
con.execute("DESCRIBE curated_reviews_by_order;").df()

           column_name column_type null   key default extra
0             order_id     VARCHAR  YES  None    None  None
1            review_id     VARCHAR  YES  None    None  None
2         review_score      BIGINT  YES  None    None  None
3          has_comment     INTEGER  YES  None    None  None
4         is_detractor     INTEGER  YES  None    None  None
5          is_promoter     INTEGER  YES  None    None  None
6   review_creation_ts   TIMESTAMP  YES  None    None  None
7     review_answer_ts   TIMESTAMP  YES  None    None  None
8          review_date        DATE  YES  None    None  None
9          answer_date        DATE  YES  None    None  None
10      days_to_answer      BIGINT  YES  None    None  None

## Constru√ß√£o da Camada Gold ‚Äî `gold_delay_satisfaction`

A view `gold_delay_satisfaction` consolida m√∫ltiplas dimens√µes do neg√≥cio em n√≠vel de pedido, combinando:

- **Log√≠stica**: tempo de entrega, atraso absoluto e relativo, status do pedido
- **Financeiro**: GMV, frete, forma de pagamento e coer√™ncia financeira
- **Cliente**: localiza√ß√£o geogr√°fica (estado e cidade)
- **Produto**: categoria principal do pedido
- **Experi√™ncia**: nota de avalia√ß√£o, presen√ßa de coment√°rio e tempo de resposta

Al√©m das m√©tricas originais, foram criadas vari√°veis derivadas e flags anal√≠ticas, tais como:
- `delay_bucket`: categoriza√ß√£o do atraso em faixas interpret√°veis
- `has_review`: indicador de presen√ßa de avalia√ß√£o
- `has_comment`: indicador de avalia√ß√£o com coment√°rio textual
- `satisfaction_group`: agrupamento simplificado de satisfa√ß√£o (detractor, passive, promoter)
- `is_completed_order` e `has_financials`: flags de consist√™ncia operacional

Essas transforma√ß√µes visam reduzir o esfor√ßo anal√≠tico nas etapas seguintes e garantir consist√™ncia nas an√°lises.

In [6]:
con.execute("""
CREATE OR REPLACE VIEW gold_delay_satisfaction AS
WITH order_category AS (
  SELECT
    x.order_id,
    arg_max(pr.product_category_en, x.cnt) AS main_category_en
  FROM (
    SELECT
      order_id,
      product_id,
      COUNT(*) AS cnt
    FROM curated_order_items
    GROUP BY order_id, product_id
  ) x
  LEFT JOIN curated_products pr
    ON x.product_id = pr.product_id
  GROUP BY x.order_id
)
SELECT
  -- chaves
  o.order_id,
  o.customer_id,

  -- status / flags
  o.order_status,
  CASE WHEN o.order_status = 'delivered' THEN 1 ELSE 0 END AS is_completed_order,

  -- review coverage
  CASE WHEN r.order_id IS NULL THEN 0 ELSE 1 END AS has_review,

  -- datas base
  o.purchase_date,
  o.delivered_date,
  o.estimated_delivery_date,

  EXTRACT(year  FROM o.purchase_date) AS purchase_year,
  EXTRACT(month FROM o.purchase_date) AS purchase_month,

  -- log√≠stica
  o.days_to_deliver,
  o.delay_days,
  o.delay_days_pos,
  o.early_days_pos,
  o.is_delivered,
  o.is_delayed,

  -- bucket de atraso
  CASE
    WHEN o.order_status <> 'delivered' OR o.delivered_date IS NULL THEN 'not_delivered'
    WHEN o.delay_days_pos = 0 THEN 'on_time'
    WHEN o.delay_days_pos BETWEEN 1 AND 3 THEN 'delay_1_3'
    WHEN o.delay_days_pos BETWEEN 4 AND 7 THEN 'delay_4_7'
    WHEN o.delay_days_pos BETWEEN 8 AND 14 THEN 'delay_8_14'
    ELSE 'delay_15_plus'
  END AS delay_bucket,

  -- itens (GMV / volume)
  COALESCE(i.items_count, 0) AS items_count,
  COALESCE(i.unique_products, 0) AS unique_products,
  COALESCE(i.unique_sellers, 0) AS unique_sellers,
  COALESCE(i.total_freight, 0) AS total_freight,
  COALESCE(i.total_gmv, 0) AS total_gmv,

  -- pagamentos
  COALESCE(p.total_payment_value, 0) AS total_payment_value,
  p.payment_type_main,
  p.max_installments,

  -- coer√™ncia financeira
  CASE
    WHEN COALESCE(i.total_gmv, 0) > 0 AND COALESCE(p.total_payment_value, 0) > 0 THEN 1
    ELSE 0
  END AS has_financials,

  -- cliente / geo
  c.customer_state,
  c.customer_city,

  -- categoria principal
  COALESCE(oc.main_category_en, 'unknown') AS main_category_en,

  -- reviews (por pedido)
  r.review_id,
  r.review_score,
  r.has_comment,
  r.is_detractor,
  r.is_promoter,
  r.review_date,
  r.answer_date,
  r.days_to_answer,

  -- grupo de satisfa√ß√£o (leg√≠vel)
  CASE
    WHEN r.review_score IS NULL THEN 'no_review'
    WHEN r.review_score <= 2 THEN 'detractor'
    WHEN r.review_score = 3 THEN 'passive'
    ELSE 'promoter'
  END AS satisfaction_group

FROM curated_orders o
LEFT JOIN curated_reviews_by_order r
  ON o.order_id = r.order_id
LEFT JOIN curated_items_by_order i
  ON o.order_id = i.order_id
LEFT JOIN curated_payments_by_order p
  ON o.order_id = p.order_id
LEFT JOIN curated_customers c
  ON o.customer_id = c.customer_id
LEFT JOIN order_category oc
  ON o.order_id = oc.order_id;
""")

## Valida√ß√£o da Camada Gold

Ap√≥s a cria√ß√£o da view `gold_delay_satisfaction`, foram realizadas valida√ß√µes t√©cnicas e anal√≠ticas para garantir sua confiabilidade:

- **Granularidade**: verificada unicidade de `order_id`, garantindo 1 linha por pedido
- **Cobertura de dados**:
  - Mais de 99% dos pedidos possuem avalia√ß√£o
  - Aproximadamente 41% das avalia√ß√µes possuem coment√°rio textual
- **Distribui√ß√£o de atraso**: valida√ß√£o dos buckets de atraso, com concentra√ß√£o coerente em pedidos entregues no prazo
- **Sinal anal√≠tico**: an√°lise preliminar confirmou forte correla√ß√£o entre atraso e queda na satisfa√ß√£o do cliente

Essas valida√ß√µes indicam que a camada Gold est√° consistente, completa e pronta para suportar an√°lises explorat√≥rias e diagn√≥sticas.

In [7]:
# Unicidade
con.execute("""
SELECT
  COUNT(*) AS rows,
  COUNT(DISTINCT order_id) AS distinct_orders,
  COUNT(*) - COUNT(DISTINCT order_id) AS dup_orders
FROM gold_delay_satisfaction;
""").df()

    rows  distinct_orders  dup_orders
0  99441            99441           0

In [8]:
# Cobertura de review
con.execute("""
SELECT
  SUM(has_review) AS orders_with_review,
  COUNT(*) AS total_orders,
  AVG(has_review) AS pct_with_review,
  AVG(CASE WHEN has_review = 1 THEN has_comment ELSE NULL END) AS pct_with_comment_among_reviewed
FROM gold_delay_satisfaction;
""").df()

,orders_with_review,total_orders,pct_with_review,pct_with_comment_among_reviewed
0,98673.0,99441,0.992277,0.413132

In [9]:
# Delay bucket (sanidade)
con.execute("""
SELECT delay_bucket, COUNT(*) AS n
FROM gold_delay_satisfaction
GROUP BY 1
ORDER BY n DESC;
""").df()

    delay_bucket      n
0        on_time  89936
1  not_delivered   2971
2      delay_1_3   1870
3      delay_4_7   1802
4     delay_8_14   1478
5  delay_15_plus   1384

In [10]:
# Rela√ß√£o atraso √ó satisfa√ß√£o (primeiro sinal)
con.execute("""
SELECT
  delay_bucket,
  AVG(review_score) AS avg_score,
  AVG(is_detractor) AS pct_detractor,
  AVG(is_promoter) AS pct_promoter,
  COUNT(*) AS n
FROM gold_delay_satisfaction
WHERE has_review = 1
GROUP BY 1
ORDER BY n DESC;
""").df()

    delay_bucket  avg_score  pct_detractor  pct_promoter      n
0        on_time   4.290464       0.092640      0.826638  89443
1  not_delivered   1.747631       0.780274      0.143559   2849
2      delay_1_3   3.291037       0.321274      0.531857   1852
3      delay_4_7   2.104691       0.676201      0.225400   1748
4     delay_8_14   1.670816       0.801521      0.109959   1446
5  delay_15_plus   1.722846       0.783521      0.125094   1335

## Estado Final do Ambiente Anal√≠tico

A seguir √© apresentada a listagem final de tabelas e views dispon√≠veis ap√≥s a cria√ß√£o da camada Gold.

In [11]:
con.execute("""
SELECT table_schema, table_name, table_type
FROM information_schema.tables
WHERE table_schema NOT IN ('information_schema', 'pg_catalog')
ORDER BY table_type, table_schema, table_name;
""").df()

   table_schema                    table_name  table_type
0          main          category_translation  BASE TABLE
1          main                     customers  BASE TABLE
2          main                   geolocation  BASE TABLE
3          main                   order_items  BASE TABLE
4          main                order_payments  BASE TABLE
5          main                 order_reviews  BASE TABLE
6          main                        orders  BASE TABLE
7          main                      products  BASE TABLE
8          main                       sellers  BASE TABLE
9          main  curated_category_translation        VIEW
10         main             curated_customers        VIEW
11         main           curated_geolocation        VIEW
12         main    curated_geolocation_by_zip        VIEW
13         main        curated_items_by_order        VIEW
14         main           curated_order_items        VIEW
15         main        curated_order_payments        VIEW
16         main         curated_order_reviews        VIEW
17         main                curated_orders        VIEW
18         main     curated_payments_by_order        VIEW
19         main              curated_products        VIEW
20         main      curated_reviews_by_order        VIEW
21         main               curated_sellers        VIEW
22         main       gold_delay_satisfaction        VIEW

In [12]:
con.close()

## Conclus√£o da Camada Gold

A camada Gold `gold_delay_satisfaction` cumpre seu papel como base anal√≠tica central desta POC, integrando dados operacionais e de experi√™ncia do cliente de forma consistente e interpret√°vel.

Os resultados iniciais j√° indicam um padr√£o claro:
- Pedidos entregues no prazo apresentam alta taxa de promotores
- Pequenos atrasos geram quedas significativas na satisfa√ß√£o
- Atrasos mais longos e pedidos n√£o entregues est√£o fortemente associados a avalia√ß√µes negativas

Com essa base consolidada, a pr√≥xima etapa da POC consiste em realizar uma **An√°lise Explorat√≥ria Guiada (EDA)**, com foco em:
- Quantificar o impacto do atraso na satisfa√ß√£o
- Identificar categorias, regi√µes ou perfis mais sens√≠veis a atrasos
- Gerar insights acion√°veis para prioriza√ß√£o de melhorias operacionais

A partir deste ponto, o foco deixa de ser engenharia de dados e passa a ser **interpreta√ß√£o, diagn√≥stico e tomada de decis√£o orientada a dados**.